<div class="container">
  <div class="ui card">
    <h1>Team Generator</h1>
    <ul class="list">
      <li *ngFor="let memberName of members">{{memberName}}</li>    
    </ul>
    <div class="add-members-container">
      <input #newMember type="text" placeholder="Enter Name" [value]="newMemberName" (input)="onInput(newMember.value)"/>
      <button (click)="addMember()">Add</button>
    </div>
    <div class="generate-teams-container">
      <input #numOfTeams type="number" placeholder="# of teams" (input)="onNumberTeamInput(numOfTeams.value)" [value]="numberOfTeams"/>
      <button (click)="generateTeams()">Generate</button>
    </div>
    <p *ngIf="errorMessage" class="error-msg">{{errorMessage}}</p>
  </div>

  <div *ngIf="teams.length" class="teams-container"> 
    <div *ngFor="let team of teams; let i = index"  class="team-container">
      <h3>Team {{ i  + 1 }}</h3>
      <ul>
        <li *ngFor="let member of team">{{ member }}</li>
      </ul>
    </div>
  </div>
</div>