<div class="container">
  <div class="ui card">
    <h1>Team Generator</h1>
    <ul class="list">
      <li *ngFor="let memberName of members">{{memberName}}</li>    
    </ul>
    <div class="add-members-container">
      <input #newMember type="text" placeholder="Enter Name" name="newMember" (input)="onInput(newMember.value)"/>
      <button (click)="addMember()">Add</button>
    </div>
    <div class="generate-teams-container">
      <input type="text" placeholder="# of teams"/>
      <button>Generate</button>
    </div>
  </div>
</div>