<div class="container">
  <div>
    <h1>Team Generator</h1>
    <ul class="list">
      <li>Huwaiza Tahir</li>
      <li>Vincent</li>
      <li>Harvey Spector</li>
      <li>Mike Ross</li>
      <li>Rachel Zane</li>    
    </ul>
    <div class="add-members-container">
      <input type="text" placeholder="Enter Name"/>
      <button>Add</button>
    </div>
    <div class="generate-teams-container">
      <input type="text" placeholder="# of teams"/>
      <button>Generate</button>
    </div>
  </div>
</div>